<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            Borderlands 2 Weaponds Wiki
        </title>
        <style>
            .center-table 
            {
                margin: 0 auto;
                width: 65%; /* Adjust the width as needed */
            }
            a 
            {
                text-decoration: none;
            }
        </style>
    </head>
    <body style="background-color: #343541;">
        <h1 style="text-align: center;">
            <span style="color: yellow;">Borderlands 2</span> <span style="color: white;">Weaponds Wiki</span>
        </h1>
        <p>‎</p><p>‎</p>
        
        <div class="center-table">
            <table border="5">
                <tr>
                    <td style="width: 640px; height: 180px; font-size: 128px; text-align: center;"><a href="{{ url_for('Pistols') }}"><span style="color: #FF0000;">Pistols</span></a></th>
                </tr>
                <tr>
                    <td style="width: 640px; height: 180px; font-size: 128px; text-align: center;"><a href="{{ url_for('Assault_Rifles') }}"><span style="color: #E50000;">Assault_Rifles</span></a></th>
                </tr>
                <tr>
                    <td style="width: 640px; height: 180px; font-size: 128px; text-align: center;"><a href="{{ url_for('SMGs') }}"><span style="color: #CC0000;">SMGs</span></a></th>
                </tr>
                <tr>
                    <td style="width: 640px; height: 180px; font-size: 128px; text-align: center;"><a href="{{ url_for('Shotguns') }}"><span style="color: #B20000;">Shotguns</span></a></th>
                </tr>
                <tr>
                    <td style="width: 640px; height: 180px; font-size: 128px; text-align: center;"><a href="{{ url_for('Sniper_Rifles') }}"><span style="color: #990000;">Sniper_Rifles</span></a></th>
                </tr>
                <tr>
                    <td style="width: 640px; height: 180px; font-size: 128px; text-align: center;"><a href="{{ url_for('Rocket_Launchers') }}"><span style="color: #7F0000;">Rocket_Launchers</span></a></th>
                </tr>
            </table>
        </div>
        <p>‎</p><p>‎</p><p>‎</p>
    </body>
</html>