<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{data.name}}</title>
    <style>
        a 
        {
            text-decoration: none;
        }
    </style>
</head>
<body style="background-color: #343541; font-size: 32px;">
    <h1><span style="color: #FFA200;">{{data.name}}:</span></h1>
    <img src={{data.image}} /><br>
    <span style="color: white;">Elements:</span> <span style="color: red;">{{data.element}}</span> <br>
    <span style="color: white;">Manufacture:</span> <span style="color: yellow;">{{data.manufacture}}</span> <br>
    <span style="color: white;">Drop Rate:</span> <span style="color: green;">{{data.drop_rate}}</span><br>
    <span style="color: white;">About:</span> <span style="color: aqua;">{{data.about}}</span><br>
    <span style="color: white;">Unique Ability:</span> <span style="color: blue;">{{data.unique_ability}}</span><br>
    <span style="color: white;">How To Farm:</span> <span style="color: purple;">{{data.how_to_farm}}</span><br>
    <img src={{data.item_card}} /><br>
    <p>‎</p>
</body>
</html>